<nav class="navbar">
  <div class="header-wrapper flex-center-space-between">
    <div class="logo-container">
      <img class="logo" src="assets/images/landing/logo.png" alt="">
    </div>
    <div class="categories flex-center-space-between">
      <span class="category">Home</span>
      <span class="category">What we do</span>
      <span class="category">Our Product</span>
      <span class="category">Leadership</span>
      <span class="category">Careers</span>
      <span class="category">Contact Us</span>
    </div>
  </div>
</nav>
