.flex-center-space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-wrapper {
  position: fixed;
  z-index: 100;
  width:60%;
  margin: 0 10rem;
  margin-bottom:30px;


  .logo-container {
    width: 20%;
  }

  .categories {
    width:60%;
    color: #6b8cae;

    .category{

      &:hover {
        color: #ff6800;
      }
    }
  }
  .logo {
    width: 15rem;
  }
}
