.intelligent-systems{
  width: 100%;
  position: relative;
  background-color: #f8fafd;


  img {
    width: 100%;
  }
}

header {
  // padding: 3rem 0;
  position: relative;
  z-index: 100;
  width:100%;
  margin-bottom:30px;
}

.intelligent-intro {
  position: absolute;
  top: 2rem;
  font-size: 2.2rem;
  width: 35rem;
  margin:10rem 0 0 10rem;

}

.con-wrapper{
  display: flex;
flex-direction: row;


}
.con-icon {
  margin-left: 10rem;;
  width:7rem;
}
.what-we-do-wrapper {
  background-color: #f8fafd;
  position: relative;

  .triange {
    width: 20rem;
    position: absolute;
    bottom: 0;
  }


  .what-we-do-title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .what-we-do-intro {
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    color: #6b8cae;
    margin-bottom: 180px;
  }

  .categories {
    margin: 0 20%;

  .to-do-wrapper {
    display: flex;
    flex-direction: column;
    width:50%;
    margin-top: -100px;
    margin-bottom: 20px;




    .connector {
      height: 10rem;
      width:10rem;
      margin-left: 50%;
    }

    .connector-rev {
      height: 10rem;
      width: 10rem;
      margin-right: 50%;
    }
    .to-do-list {
      display: flex;
      flex-direction: row;
      position: relative;
    }

    .image-holder {
      margin-right: 2rem;

       img {
         width: 8rem;
       }
    }

    .list-title {
      color: #162752;
      font-size: 2.2rem;
      font-weight: 500;


    }

    .list-desc {
      color: #6b8cae;
      font-size: 1rem;
    }
    &:nth-child(odd) {
      // background: red;
      display: flex;
      align-self: flex-end;


    }
    &:nth-child(even) {
      // background: green;

      margin-left: 50%;

    }

  }
}
}


.our-products-container {
  background-color: white;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;

  .our-product-title {
    font-size: 1.8rem;
    font-family: 'Roboto';
    font-weight: normal;
  }

  .finance-title {
    font-size: 1.8rem;
    color: #6b8cae;
  }

  .finance-desc {
    color: #162752;
    font-size: 1rem;
  }

  .desc-1 {
    font-size: 1.5rem;
    color: #162752;
    margin-bottom: 3rem;

  }

  .desc-2 {
    font-size: 1rem;
    color: #162752;
    margin-bottom: 3rem;
  }

  .profitUno {
    color: #ff6800;
  }
  .video-container {
    display: flex;
    flex-direction: row;
  }
}

.leadership-wrapper {
  background-color: #f8fafd;

  .leaders-container  {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;
    align-items: center;

  }

  .leadership-title {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }

  .leader {
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
  margin: 1rem;
  padding: 1rem;

  }
  .leader-icon {
    width: 7rem;
    margin-bottom: 1.5rem;

  }
  .name {
    color: #162752;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .degree, .designation {
    font-size: 1rem;
    color: #6b8cae;
    margin-bottom: 0.5rem;

  }
}
