input, textarea {
  width:25rem;
  height: 3rem;
  border-radius: 15px;
  border: solid 1px #ffffff;
  opacity: 0.4;
  display: block;
  margin-bottom: 1rem;
  background: transparent;
  padding: 1rem;
  color: white;

  &:focus, &:active {
    outline: none;
  }
}

.active {
  color:green;
}

.inactive {
  color: red;
}

textarea {
  height: 10rem;
}



.intelligent-systems{

  width: 100%;
  position: relative;
  background-color: #f8fafd;


  img {
    width: 100%;
  }
}

.leadership-title {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header {
  // padding: 3rem 0;
  position: relative;
  z-index: 100;
  width:100%;
  margin-bottom:30px;
}

.intelligent-intro {
  position: absolute;
  top: 2rem;
  font-size: 2.2rem;
  width: 35rem;
  margin:10rem 0 0 10rem;

}

.con-wrapper{
  display: flex;
flex-direction: row;


}
.con-icon {
  margin-left: 10rem;;
  width:7rem;
}
.what-we-do-wrapper {
  background-color: #f8fafd;
  position: relative;

  .triange {
    width: 20rem;
    position: absolute;
    bottom: 0;
  }


  .what-we-do-title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .what-we-do-intro {
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    color: #6b8cae;
    margin-bottom: 180px;
  }

  .categories {
    margin: 0 20%;

  .to-do-wrapper {
    display: flex;
    flex-direction: column;
    width:50%;
    margin-top: -100px;
    margin-bottom: 20px;




    .connector {
      height: 10rem;
      width:10rem;
      margin-left: 50%;
    }

    .connector-rev {
      height: 10rem;
      width: 10rem;
      margin-right: 50%;
    }
    .to-do-list {
      display: flex;
      flex-direction: row;
      position: relative;
    }

    .image-holder {
      margin-right: 2rem;

       img {
         width: 8rem;
       }
    }

    .list-title {
      color: #162752;
      font-size: 2.2rem;
      font-weight: 500;


    }

    .list-desc {
      color: #6b8cae;
      font-size: 1rem;
    }
    &:nth-child(odd) {
      // background: red;
      display: flex;
      align-self: flex-end;


    }
    &:nth-child(even) {
      // background: green;

      margin-left: 50%;

    }

  }
}
}


.our-products-container {
  background-color: white;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;

  .our-product-title {
    font-size: 1.8rem;
    font-family: 'Roboto';
    font-weight: normal;
  }

  .finance-title {
    font-size: 1.8rem;
    color: #6b8cae;
  }

  .finance-desc {
    color: #162752;
    font-size: 1rem;
  }

  .desc-1 {
    font-size: 1.5rem;
    color: #162752;
    margin-bottom: 3rem;

  }

  .desc-2 {
    font-size: 1rem;
    color: #162752;
    margin-bottom: 3rem;
  }

  .profitUno {
    color: #ff6800;
  }
  .video-container {
    display: flex;
    flex-direction: row;
  }
}

.leadership-wrapper {
  background-color: #f8fafd;

  .leaders-container  {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;
    align-items: center;

  }



  .leader {
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
  margin: 1rem;
  padding: 1rem;

  }
  .leader-icon {
    width: 7rem;
    margin-bottom: 1.5rem;

  }
  .name {
    color: #162752;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .degree, .designation {
    font-size: 1rem;
    color: #6b8cae;
    margin-bottom: 0.5rem;

  }
}

.career-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f8fafd;
  padding-top: 5rem;
  display: flex;
  align-items: center;

  .career {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  .career-desc {
    color: #6b8cae;
    font-size: 1rem;
    width:70%;
  }
}

.card-row {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
  .career-card {
    width: 48%;
    height: 28vh;
    background-color: white;
    padding: 2rem;


    .card-name {
      color: #162752;
      font-size: 1.8rem;
    }

    .card-desc {
      color: #6b8cae;
      font-size: 1.2rem;
    }

    .apply-btn {
      width: 8rem;
      height: 3rem;
      border-radius: 80px;
      border: solid 1px #ff6800;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      color: #ff6800;
    }

    .card-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #e3e8ed;
      padding-top:1rem;
    }

    .footer-text {
      font-size: 0.9rem;
      color: #6b8cae;
    }

    .time-icon {
      width: 15px;
      height: 15px;
    }
  }

  .contact-bg {
    width:100%;
    background-color: #f8fafd;
    position: relative;
  }

  .contact-title {
    margin:10rem 0 3rem 0;
    color:white;
    text-align: center;
    width: 100%;
  }

  .contact-background {
    width: 100%;
    // height: 40vh;
    position: absolute;
    top:0;
  }

  .contact-content {
    position: absolute;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding:0 20rem;

    .info-left, .info-right {
      width: 35%;
    }
  }

  .contact-field {
    color: white;
    font-size: 1.2rem;
    opacity: 0.4;
  }

  .contact-value {
    color: white;
    font-size: 1.2rem;
  }

  .social-media-icons {
    width:3rem;
    height:3rem;
    margin:3rem 2rem 0 0;
  }

  .contact-footer {
    display: flex;
    justify-content: space-around;
    width:100%;
    margin-top:10rem;
    color: rgba(255,255,255,0.4);
    padding: 0 20rem 0 10rem;

  }
